
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.exe
*.egg
*.egg-info/
dist/
build/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env

# Uploads
uploads/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Expo/temp
.expo/
node_modules/
